<%= form_for @client, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Client</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :phone, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :phone, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', clients_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
