<h1>Client</h1>

<p>
  <b>Name</b><br>
  <%= @client.name %>
</p>

<p>
  <b>Phone</b><br>
  <%= @client.phone %>
</p>

<h3>Checked-in Agent</h3>
<p>
  <% if @client.agent.nil? %>
    No agent has checked in.
  <% else %>
    <%= link_to @client.agent.name, agent_path(@client.agent) %>
  <% end %>
</p>

<h3>Tasks</h3>
<ul>
<%= render @client.tasks %>
</ul>
<%= link_to "Add or Edit a task", client_tasks_path(@client), :class => 'btn btn-info' %>

<div class="form-actions">
  <%= link_to 'Back', clients_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_client_path(@client), :class => 'btn' %>
  <%= link_to 'Delete', client_path(@client), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
