<%= form_for @agent, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Agent</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :code, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :code, :maxlength => 6, :class => 'text_field', :placeholder => 'Enter a six-digit code' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary btn-large' %>
      <%= link_to 'Cancel', agents_path, :class => 'btn btn-large' %>
    </div>
  </fieldset>
<% end %>
